<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{eachAccount.name}}: ({{eachAccount.status}})</div>
            <div class="panel-body">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button (click)="onClickChangesStatus('Active')" type="button" class="btn btn-success mr-2">Set to 'Active'</button>
                    <button (click)="onClickChangesStatus('InActive')" type="button" class="btn btn-danger mr-2">Set to 'InActive'</button>
                    <button (click)="onClickChangesStatus('Unknown')" type="button" class="btn btn-warning">Set to 'Unknown'</button>
                </div>
            </div>
        </div>
    </div>
</div>
