<div class="row">
    <div class="col-xs-12">
        <h2>Simple Observable</h2>
        <button class="btn btn-primary" [disabled]="buttenTriggered" (click)="triggerCustomObserbable()"> Trigger Observable</button>
        <p>{{count}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Routing Observable</h2>
    </div>
    <div class="col-xs-12">
       <ul>
           <li *ngFor="let user of users">
               <a [routerLink]="['/tutorial/observable/',user.id,user.name | lowercase]">{{user.name}}</a>
           </li>
       </ul>
   </div>
    <div class="col-xs-12">
        <router-outlet></router-outlet>
    </div>
</div>



