<div class="row">
    <div class="col-md-12">
        <form class="form-signin" (ngSubmit)="login(f)" #f="ngForm">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div *ngIf="msg"
                 class="alert alert-danger">
                <div>
                    Invalid Login
                </div>
            </div>
           <div class="form-group">
               <label for="inputEmail" class="sr-only">Email address</label>
               <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required autofocus>
           </div>
          <div class="form-group">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="password" ngModel id="inputPassword" class="form-control" placeholder="Password" required>
          </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div class="float-right">
            <label>
                <a [routerLink]="['/users/signup']" >Register</a>
            </label>
        </div>
    </div>
</div>